<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932262226299-3069quoo77rl16poim97vs6vljr6j186.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932262226299-3069quoo77rl16poim97vs6vljr6j186</string>
	<key>API_KEY</key>
	<string>AIzaSyCnpPOuD_Q0ytdlKevzMjP3EObLgKWw7q4</string>
	<key>GCM_SENDER_ID</key>
	<string>932262226299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>myPet.ios</string>
	<key>PROJECT_ID</key>
	<string>mypet-7ef78</string>
	<key>STORAGE_BUCKET</key>
	<string>mypet-7ef78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932262226299:ios:5845316984f7d1b9b075de</string>
</dict>
</plist>